
<div *ngIf="order">
    <h2><span jhiTranslate="ananyaKiRasoiApp.order.detail.title">Order</span> {{order.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ananyaKiRasoiApp.order.orderType">Order Type</span></dt>
        <dd>
            <span jhiTranslate="{{'ananyaKiRasoiApp.OrderType.' + order.orderType}}">{{order.orderType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
