<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressLabel" jhiTranslate="ananyaKiRasoiApp.address.home.createOrEditLabel">Create or edit a Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!address.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="address.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ananyaKiRasoiApp.address.address1" for="field_address1">Address 1</label>
            <input type="text" class="form-control" name="address1" id="field_address1"
                [(ngModel)]="address.address1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ananyaKiRasoiApp.address.address2" for="field_address2">Address 2</label>
            <input type="text" class="form-control" name="address2" id="field_address2"
                [(ngModel)]="address.address2"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ananyaKiRasoiApp.address.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="address.city"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ananyaKiRasoiApp.address.postcode" for="field_postcode">Postcode</label>
            <input type="text" class="form-control" name="postcode" id="field_postcode"
                [(ngModel)]="address.postcode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ananyaKiRasoiApp.address.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="address.country"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ananyaKiRasoiApp.address.userExtras" for="field_userExtras">User Extras</label>
            <select class="form-control" id="field_userExtras" name="userExtras" [(ngModel)]="address.userExtras" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userExtrasOption.id === address.userExtras?.id ? address.userExtras : userExtrasOption" *ngFor="let userExtrasOption of userextras; trackBy: trackUserExtrasById">{{userExtrasOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
