
<div *ngIf="deliveryTrack">
    <h2><span jhiTranslate="ananyaKiRasoiApp.deliveryTrack.detail.title">Delivery Track</span> {{deliveryTrack.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ananyaKiRasoiApp.deliveryTrack.estimatedTime">Estimated Time</span></dt>
        <dd>
            <span>{{deliveryTrack.estimatedTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="ananyaKiRasoiApp.deliveryTrack.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'ananyaKiRasoiApp.DeliveryStatus.' + deliveryTrack.status}}">{{deliveryTrack.status}}</span>
        </dd>
        <dt><span jhiTranslate="ananyaKiRasoiApp.deliveryTrack.bill">Bill</span></dt>
        <dd>
            <div *ngIf="deliveryTrack.bill">
                <a [routerLink]="['/bill', deliveryTrack.bill?.id]">{{deliveryTrack.bill?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'delivery-track/'+ deliveryTrack.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
