<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBillLabel" jhiTranslate="ananyaKiRasoiApp.bill.home.createOrEditLabel">Create or edit a Bill</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bill.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bill.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ananyaKiRasoiApp.bill.billTime" for="field_billTime">Bill Time</label>
            <div class="d-flex">
                <input id="field_billTime" type="datetime-local" class="form-control" name="billTime" [(ngModel)]="bill.billTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ananyaKiRasoiApp.bill.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="bill.amount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ananyaKiRasoiApp.bill.discount" for="field_discount">Discount</label>
            <input type="number" class="form-control" name="discount" id="field_discount"
                [(ngModel)]="bill.discount"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ananyaKiRasoiApp.bill.order" for="field_order">Order</label>
            <select class="form-control" id="field_order" name="order" [(ngModel)]="bill.order">
                <option [ngValue]="null"></option>
                <option [ngValue]="orderOption.id === bill.order?.id ? bill.order : orderOption" *ngFor="let orderOption of orders; trackBy: trackOrderById">{{orderOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
